# Fix for Rollup native modules on Linux GNU systems
rollup-skip-nodejs-native-build=true
rollup-native-pure-js=true
node-options=--max-old-space-size=4096 --experimental-vm-modules
legacy-peer-deps=true
fund=false
audit=false
