# Dependencies
node_modules/
**/node_modules/

# Build
dist/
build/

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
.DS_Store

# Logs
*.log
logs/

# Media
*.wav
*.mp3

# Temp
temp/
tmp/
**/temp/
**/tmp/
