[run]
source = app
omit =
    */tests/*
    */migrations/*
    */venv/*
    */site-packages/*
    */distutils/*
    setup.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError:
    if False:
    if __name__ == "__main__":

[html]
directory = coverage_html_report
